<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jbobby.shardingsphere.svm.mapper.UserMapper">
  <resultMap id="BaseResultMap" type="com.jbobby.shardingsphere.svm.entity.User">
    <id column="user_id" jdbcType="INTEGER" property="userId" />
    <result column="user_type" jdbcType="INTEGER" property="userType" />
    <result column="username" jdbcType="VARCHAR" property="userName" />
    <result column="pwd" jdbcType="VARCHAR" property="pwd" />
  </resultMap>
  <sql id="Base_Column_List">
    user_id, user_type, username, pwd
  </sql>
  <select id="selectAll"  resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from t_user order by user_id
  </select>

  <select id="selectAllByShadow" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from t_user WHERE user_type = #{userType,jdbcType=INTEGER};
  </select>

  <delete id="deleteById">
    DELETE FROM t_user WHERE user_id = #{userId,jdbcType=INTEGER};
  </delete>

  <delete id="deleteByUserType">
    DELETE FROM t_user WHERE user_type = #{userType,jdbcType=INTEGER};
  </delete>

  <insert id="insertForeach" parameterType="java.util.List" useGeneratedKeys="false">
    insert into t_user (user_id, user_type, username, pwd)
    values
    <foreach collection="list" item="item" index="index" separator=",">
      (#{item.userId,jdbcType=INTEGER}, #{item.userType,jdbcType=INTEGER}, #{item.userName,jdbcType=VARCHAR},
      #{item.pwd,jdbcType=VARCHAR})
    </foreach>
  </insert>

  <insert id="insert">
    INSERT INTO t_user (user_id, user_type, username, pwd)
    VALUES (#{userId,jdbcType=INTEGER}, #{userType,jdbcType=INTEGER}, #{userName,jdbcType=VARCHAR}, #{pwd,jdbcType=VARCHAR});
  </insert>

  <update id="truncateTableShadow">
    TRUNCATE TABLE t_user /*shadow:true,foo:bar*/;
  </update>
</mapper>