<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jbobby.shardingsphere.sdtca.mapper.UserMapper">
  <resultMap id="BaseResultMap" type="com.jbobby.shardingsphere.sdtca.entity.User">
    <id column="user_id" jdbcType="BIGINT" property="id" />
    <result column="addr_id" jdbcType="BIGINT" property="addrId" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="sex" jdbcType="VARCHAR" property="sex" />
    <result column="age" jdbcType="INTEGER" property="age" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
    <result column="status" jdbcType="INTEGER" property="status" />
  </resultMap>
  <sql id="Base_Column_List">
    user_id, addr_id, name, sex, age, create_time, update_time, status
  </sql>
  <select id="selectAll"  resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from t_user order by user_id
  </select>
  <select id="selectByKey"  parameterType="map" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from t_user
    <where>
      <if test="user_id != null">
        AND user_id = #{user_id}
      </if>
      <if test="addr_id != null">
        AND addr_id = #{addr_id}
      </if>
    </where>
    order by user_id
  </select>

  <select id="selectByRange"  resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from t_user
    <where>
      <if test="user_id != null">
        <![CDATA[
        AND user_id >= #{user_id.lower} AND user_id < #{user_id.upper}
        ]]>
      </if>
      <if test="addr_id != null">
        <![CDATA[
        AND addr_id >= #{addr_id.lower} AND addr_id < #{addr_id.upper}
        ]]>
      </if>
    </where>
    order by user_id
  </select>

  <select id="selectByKeyRange"  resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from t_user
    <where>
      user_id = #{userId}
      <if test="addrId != null">
        <![CDATA[
        AND addr_id >= #{addrId.lower} AND addr_id < #{addrId.upper}
        ]]>
      </if>
    </where>
    order by user_id
  </select>

  <insert id="insertForeach" parameterType="java.util.List" useGeneratedKeys="false">
    insert into t_user (user_id, addr_id, name, sex,
    age, create_time, update_time,
    status)
    values
    <foreach collection="list" item="item" index="index" separator=",">
      (#{item.id,jdbcType=BIGINT}, #{item.addrId,jdbcType=BIGINT}, #{item.name,jdbcType=VARCHAR}, #{item.sex,jdbcType=VARCHAR},
      #{item.age,jdbcType=INTEGER}, #{item.createTime,jdbcType=TIMESTAMP}, #{item.updateTime,jdbcType=TIMESTAMP},
      #{item.status,jdbcType=INTEGER})
    </foreach>
  </insert>

  <insert id="insertSingle" parameterType="user" useGeneratedKeys="false">
    insert into t_user (user_id, addr_id, name, sex, age, create_time, update_time, status)
    values
    (#{id,jdbcType=BIGINT}, #{addrId,jdbcType=BIGINT}, #{name,jdbcType=VARCHAR}, #{sex,jdbcType=VARCHAR},
      #{age,jdbcType=INTEGER}, #{createTime,jdbcType=TIMESTAMP}, #{updateTime,jdbcType=TIMESTAMP},
      #{status,jdbcType=INTEGER})
  </insert>
</mapper>