server:
  port: 8088
spring:
  dataSource:
    driver-class-name: org.apache.shardingsphere.driver.ShardingSphereDriver
    url: jdbc:shardingsphere:classpath:sharding.yaml
mybatis:
    config-location: classpath:mybatis-config.xml
